#CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug
vulkan-hello-world
vulkan-hello-world.cbp

#IDE
.idea

#GLSL
**/*.spv

#Visuals
visual/models
visual/textures

#macOS
.DS_Store
